certifi==2018.8.24
chardet==3.0.4
DateTime==4.3
Django==2.1.4
et-xmlfile==1.0.1
idna==2.7
jdcal==1.4
openpyxl==2.5.12
Pillow==8.2.0
pytz==2018.5
reportlab==3.5.13c
requests==2.21.0
urllib3==1.24.1
zope.interface==4.5.0
