@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;	font-family:"Microsoft Yahei";
	/*font-size: 14px;*/
}
.clearfix:after{content:"";height:0;line-height:0;display:block;visibility:hidden;clear:both;}
.clearfix{zoom:1;}

header{
	background: #4c4c4c;
	/*height: 40px;*/
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	/*bottom: 0px;*/
}

header .logo{
	float: left;
	width: 35px;
	height: 35px;
	/*background-image:url(/static/img/logo.png);*/
	margin: 2px 10px;
	color:lightgray;
	}

.but_top_menu li{float: left;list-style: none;}
	.but_top_menu li a{color: lightgray;text-decoration: none;text-size: 12px;line-height: 40px;padding: 0px 15px;display: block;box-sizing: border-box;height: 40px;}
	.but_top_menu li a:hover{color: white;border-bottom: 3px solid #cccc00;box-sizing: border-box;background: black;}
	.but_top_menu li a i{margin: 0px 5px;}


header .userinfo{float: right;margin-right:10px;}

.pager{margin-top: 40px;width: 100%;}


.appbox{
	height:200px;
	width:150px;
	float:left;
	border:1px solid #5b5a91;
	border-radius: 5px;
	margin: 10px;
}

