{% extends "assetbase.html" %}


{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/appasset/assetlist.css">
{% endblock styecss %}

{% block mainbody %}
    <div class="container-fluid">
        <div class="row fixed-top bg-light">
            <div class="col-12 ">
                <ul class="nav nav-tabs nav-fill nav-pills" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#my" data-toggle="tab">我的</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#over" data-toggle="tab">已退还</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#dep" data-toggle="tab">部门</a>
                    </li>
    {#                <li>#}
    {#                    <a class="nav-link text-secondary" href="#"><i class="fa fa-plus fa-1x"></i></a>#}
    {#                </li>#}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tab-content" id="nav-tabContent">
                    <div id="my" class="tab-pane show active" role="tabpanel">
                        {% for item in context %}
                        <div class="row border-bottom">
                            <div class="col-12 py-2">
                                <div class="row">
                                    <div class="col align-self-center">
                                        <div class="media">
                                            <img class="rounded mr-2" src="{{ item.asset_attachment__thumbnail }}" alt="img" style="height: 64px; width: 64px;">
                                            <div class="media-body">
                                                <h6><strong>{{ item.name }}</strong><span class="font-weight-light"> [{{ item.sid }}]</span></h6>
                                                <p class="text-sm m-0 text-base"><strong>SN: </strong>{{ item.sn| safe }}</p>
                                                <p class="text-sm mb-2 text-base"><strong>部门: </strong>{{ item.user__employee_department__departmentid__name| safe }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto align-self-center">
                                        <div class="btn-group-vertical btn-group-sm">
                                            <button class="btn btn-light text-warning"><i class="fa fa-wrench fa-1x"></i></button>
                                            <button class="btn btn-light sr-only"><i class="fa fa-share fa-1x" aria-hidden="true"></i></button>
                                            <button class="btn btn-light text-danger assetout"><i class="fa fa-sign-out fa-1x" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <a href="/asset/assetform/?act=display&id={{ item.id }}" class="text-center m-0 text-base"> 查看详情>></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                            <div class="row border-bottom" >
                                <div class="col pt-3 text-center">
                                    <p>(暂无数据)</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div id="over" class="tab-pane" role="tabpanel">
                        <div class="row border-bottom" >
                            <div class="col pt-3 text-center">
                                <p>(暂无数据)</p>
                            </div>
                        </div>
                    </div>
                    <div id="dep" class="tab-pane" role="tabpanel">
                        <div class="row border-bottom" >
                            <div class="col pt-3 text-center">
                                <p>(暂无数据)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Mdaout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">退还设备</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" id="forminput">
                        {% csrf_token %}
                        <p class="text-sm">确定要退还这个设备吗？</p>
                        <p class="font-italic text-sm">确认后，请将设备交还到设备管理部门，由管理员确认签收设备。</p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" data-toggle="surinput" value="upload">确认</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.assetout').click(function () {
                $('#Mdaout').modal('show');
            })
        });
    </script>
{% endblock jquery%}



