<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>设备详单</title>
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="/static/css/appasset/assetbase.css">

</head>

<body>
    <div class="container-fluid">
        <div class="row py-2 mb-3 bg-light">
            <div class="col-12 ">
                <div class="media align-middle">
                    <img src={{ headimg }} class="img-thumbnail mr-2" id="headerimg" alt="headerimg" style="height: 64px; width: 64px;">
                    <div class="media-body">
                        <h2 class="media-heading">{{ context.name }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-2 mb-3 bg-light">
            <div class="col-12 ">
                <div class="row">
                    <label class="col-auto py-2 m-0"><strong>设备编号</strong></label>
                    <input type="text" class="form-control-plaintext col text-right text-black-50" value="{{ context.sid| default_if_none:"" }}" >
                </div>
                <div class="row">
                    <label class="col-auto py-2 m-0"><strong>规格</strong></label>
                    <input type="text" class="form-control-plaintext col text-right text-black-50" value="{{ context.specifications| default_if_none:"" }}" >
                </div>
                <div class="row">
                    <label class="col-auto py-2 m-0"><strong>型号</strong></label>
                    <input type="text" class="form-control-plaintext col text-right text-black-50" value="{{ context.model| default_if_none:"" }}" >
                </div>
                <div class="row">
                    <label class="col-auto py-2 m-0"><strong>出厂编号</strong></label>
                    <input type="text" class="form-control-plaintext col text-right text-black-50" value="{{ context.sn| default_if_none:"" }}" >
                </div>
            </div>
        </div>
        <div class="row py-2 mb-3 bg-light">
            <div class="col-12 ">
                <div class="row">
                    <label class="col-auto py-2 m-0"><strong>部门</strong></label>
                    <input type="text" class="form-control-plaintext col text-right text-black-50" value="{{ user.employee_department__departmentid__name| default_if_none:"" }}" >
                </div>
                <div class="row">
                    <label class="col-auto py-2 m-0"><strong>使用人</strong></label>
                    <input type="text" class="form-control-plaintext col text-right text-black-50" value="{{ user.name| default_if_none:"" }}" >
                </div>
                <div class="row">
                    <label class="col-auto py-2 m-0"><strong>位置</strong></label>
                    <input type="text" class="form-control-plaintext col text-right text-black-50" value="{{ context.position| default_if_none:"" }}" >
                </div>
            </div>
        </div>
        <div class="row pt-3 border-top">
            <div class="col-12">
                <button type="button" class="btn btn-warning btn-block">报修</button>
                <button type="button" class="btn btn-danger btn-block">退还</button>
            </div>
        </div>
        <div class="row mt-3 border-top sr-only">
            <div class="col-12">
                <h6 class="mt-2 text-center">
                    维修记录
                </h6>
                <p>
                    领用
                </p>
            </div>
        </div>

    </div>

    <div class="modal fade" id="Mdaout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">退还设备</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" id="forminput">
                        {% csrf_token %}
                        <p class="text-sm">确定要退还这个设备吗？</p>
                        <p class="font-italic text-sm">确认后，请将设备交还到设备管理部门，由管理员确认签收设备。</p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" data-toggle="surinput" value="upload">确认</button>
                </div>
            </div>
        </div>
    </div>

<!--
   jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边)
   加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。
   -->
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/js/Chart.min.js"></script>

    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="/static/js/bootstrap.min.js"></script>

    <script src="/static/js/holder.min.js"></script>

</body>
</html>

