<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>设备申请</title>
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="/static/css/appasset/base.css">
</head>

<body>
    <div class="container-fluid">
        <form>
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <div class="row bg-light mb-3 py-2 sr-only">
                        <div class="col-6">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group">
                                    <span class="input-text">申请日期</span>
                                </div>
                                <input type="date" class="form-control" name="appdate" value="{{ now |date:'Y-m-d' }}" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group">
                                    <span class="input-text">申请人</span>
                                </div>
                                <input type="text" class="form-control" name="applicant" value="{{ userinfo }}" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="row bg-light mb-3 py-2">
                        <div class="col-12">
                            <div class="row mb-2">
                                <label class="col-12 py-2 m-0"><strong>申请事由<span class="text-danger">*</span></strong></label>
                                <div class="col-12">
                                    <textarea class="form-control text-black-50" name="explain" id="explain" cols="100" rows="3" warp="soft" placeholder="事由" required>{{ context.nots }}</textarea>
                                    <div class="invalid-tooltip" id="popname">
                                        必填
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-auto py-2 m-0"><strong>设备<span class="text-danger">*</span></strong></label>
                                <div class="col">
                                    <input type="text" class="form-control text-right text-black-50" name="needasset" value="" placeholder="电脑、移动电脑、移动硬盘、外接硬盘盒" required>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-auto py-2 m-0"><strong>领用人<span class="text-danger">*</span></strong></label>
                                <div class="col">
                                    <input type="text" class="form-control text-right text-black-50" name="user" value="{{ userinfo| default_if_none:"" }}" readonly="True">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-auto py-2 m-0"><strong>申请类型<span class="text-danger">*</span></strong></label>
                                <div class="col py-2 m-0">
                                    <span class="form-check form-check-inline">
                                      <input type="radio" id="radiotypeaccess" name="type" class="form-check-input" value="1" checked>
                                      <label class="form-check-label" for="customRadio1">领用</label>
                                    </span>
                                    <span class="form-check form-check-inline">
                                      <input type="radio" id="radiotypeborrow" name="type" class="form-check-input" value="2">
                                      <label class="form-check-label" for="customRadio2">借用</label>
                                    </span>
                                </div>
                            </div>
                            <div class="row mb-2 sr-only" id="borrowdate">
                                <label class="col-auto py-2 m-0"><strong>归还日期 <span class="text-danger">*</span></strong></label>
                                <div class="col">
                                    <input type="date" class="form-control text-right text-black-50" name="backdate" value="{{ user.employee_department__departmentid__name| default_if_none:"" }}" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row bg-light mb-3 py-2">
                        <div class="col-12">
                            <div class="input-group input-group-sm mb-2">
                                <div class="input-group">
                                    <span class="input-text">附件</span>
                                </div>
                                <input type="file" name="notsfile" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-2 border-top">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <h6>审批流...</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 my-1">
                            <img class="rounded-circle" src="holder.js/48x48">
                            <p class="text-sm-center text-success">通过</p>
                        </div>
                        <div class="col-3 my-1">
                            <img class="rounded-circle" src="holder.js/48x48">
                            <p class="text-sm-center text-info">审批中</p>
                        </div>
                        <div class="col-3 my-1">
                            <img class="rounded-circle" src="holder.js/48x48">
                            <p class="text-sm-center">待审批</p>
                        </div>
                        <div class="col-3 my-1">
                            <img class="rounded-circle" src="holder.js/48x48">
                            <p class="text-center text-danger">拒绝</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-3 border-top">
                <div class="col-12">
                    <button type="button" class="btn btn-primary btn-block disabled" id="submit">提交</button>
                    <button type="button" class="btn btn-secondary btn-block" id="cancel">取消</button>
                </div>
            </div>
        </form>
    </div>

<!--
   jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边)
   加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。
   -->
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/js/Chart.min.js"></script>

    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="/static/js/bootstrap.min.js"></script>

    <script src="/static/js/holder.min.js"></script>

    <script src="/static/js/appasset/assetappl.js"></script>
</body>
</html>

