@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;	font-family:"Microsoft Yahei";
	/*font-size: 12px;*/
}
.clearfix:after{content:"";height:0;line-height:0;display:block;visibility:hidden;clear:both;}
.clearfix{zoom:1;}

body{padding-top:50px;}

/*header{*/
	/*background: #222222;*/
	/*!*height: 40px;*!*/
	/*position: fixed;*/
	/*left: 0px;*/
	/*right: 0px;*/
	/*top: 0px;*/
	/*!*bottom: 0px;*!*/
/*}*/

/*header .logo{*/
	/*float: left;*/
	/*width: 35px;*/
	/*height: 35px;*/
	/*!*background-image:url(/static/img/logo.png);*!*/
	/*margin: 2px 10px;*/
	/*color:lightgray;*/
	/*}*/

.but_top_menu li{float: left;list-style: none;}
	.but_top_menu li a{color: lightgray;text-decoration: none;text-size: 12px;line-height: 40px;padding: 0px 15px;display: block;box-sizing: border-box;height: 40px;}
	.but_top_menu li a:hover{color: white;border-bottom: 3px solid #6699cc;box-sizing: border-box;background: black;}
	.but_top_menu li a i{margin: 0px 5px;}


header .userinfo{float: right;margin-right:10px;}


.appbox{
	float:left;
}
.appbox a{
	display: block;
	box-sizing: border-box;
	height:280px;
	width:260px;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,.5);
	text-decoration: none;
	padding:90px;
	border:1px solid #aaaaaa;
	border-radius: 1em;
	margin:30px;
}
.appbox a:hover{
	background: #dddddd;
}
.appbox a p {
	margin: 0px auto;
	width: 100%;
	padding:30px auto;
}
.appleb{
	padding-top:1em;
	text-align: center;
}
