@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;	font-family:"Microsoft Yahei";
	font-size: 12px;
}

.clearfix:after{content:"";height:0;line-height:0;display:block;visibility:hidden;clear:both;}
.clearfix{zoom:1;}

body{padding-top:56px;}

.appbox{
	float:left;
}
.appbox a{
	display: block;
	box-sizing: border-box;
	height:280px;
	width:260px;
	box-shadow: 0 3px 6px 0 rgba(0,0,0,.5);
	text-decoration: none;
	padding:90px;
	border:1px solid #aaaaaa;
	border-radius: 1em;
	margin:30px;
}
.appbox a:hover{
	background: #dddddd;
}
.appbox a p {
	margin: 0px auto;
	width: 100%;
	padding:30px auto;
}
.appleb{
	padding-top:1em;
	text-align: center;
}
