@charset "utf-8";
/* CSS Document */
*{margin: 0px;padding: 0px;}

.header{
    height: 80px;
    background: darkgray;
}

.cmd_nav{
    height: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
    .cmd_nav form{
        margin: auto 5px;
    }

context{
    padding: 5px;
}

table{
    table-layout: auto;
    width: 70%;
    margin: 0px auto;
    border-collapse: collapse;
}

caption {
    font-size: larger;
    margin: 1em auto;
}

th,td {
     /*padding: .65em;*/
}

th {
    background: #555 nonerepeat scroll 0 0;
    border: 1px solid #777;
}

td {
    border: 1px solid #777;
}

.footbar{height:80px;}