{% extends "base.html" %}

{% block styecss %}

{% endblock styecss %}

{% block mainbody %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 border-right">
                {% include 'aest_sub_sidemenu.html' %}
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-10">
                                        <h5>列表/展板/表单</h5>
                                    </div>
                                    <div class="col-2">
                                        <span><i class="fa fa-save fa-1x fa-fw"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="form-group form-row">
                                        <lable class="col-2 col-form-label">每页条目数</lable>
                                        <div class="col-2">
                                            <input type="text" class="form-control" name="listnum" value="50">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-10">
                                        <h5>通知</h5>
                                    </div>
                                    <div class="col-2">
                                        <span><i class="fa fa-save fa-1x fa-fw"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="form-group form-row">
                                        <lable class="col-2 col-form-label">消息发送</lable>
                                        <div class="col-6">
                                            <input type="text" class="form-control" name="listnum" value="立刻发送/不发送">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jquery %}

{% endblock jquery%}