<div class="limg"></div>
<ul class="nav flex-column nav-pills">
    <li class="nav-item list-group-item">
        <h5><i class="fa fa-tachometer fa-1x"></i> 看板</h5>
        <a class="nav-link" href="/asset_kanban_board/">展板</a>
    </li>
    <li class="nav-item list-group-item">
        <h5><i class="fa fa-clipboard fa-1x"></i> 单据</h5>
        <a class="nav-link sr-only" href="#">入库单</a>
        <a class="nav-link" href="/applicant_list/">领用单</a>
        <a class="nav-link sr-only" href="#">报损单</a>
    </li>
    <li class="nav-item list-group-item">
        <h5><i class="fa fa-cubes fa-1x"></i> 设备</h5>
        <a class="nav-link" href="/property_list/?v=list&p=1">设备</a>
        <a class="nav-link" href="/parts_list/">配件</a>
        <a class="nav-link" href="/category_list/">类型</a>
    </li>
    <li class="nav-item list-group-item">
        <h5><i class="fa fa-code-fork fa-1x"></i> 服务</h5>
        <a class="nav-link sr-only" href="#"><i class="fa fa-internet-explorer fa-1x"></i> 域名</a>
        <a class="nav-link sr-only" href="#"><i class="fa fa-envelope-open fa-1x"></i> Email账号</a>
        <a class="nav-link" href="/pure_list/"><i class="fa fa-server fa-1x"></i> FTP服务</a>
        <a class="nav-link sr-only" href="#"><i class="fa fa-exchange fa-1x"></i> T-transfer服务</a>
        <a class="nav-link sr-only" href="#"><i class="fa fa-share-alt fa-1x"></i> Share分享</a>
    </li>
    <li class="nav-item list-group-item">
        <h5><i class="fa fa-cog fa-1x"></i> 设置</h5>
        <a class="nav-link"  href="/asset_config/">常规</a>
        <a class="nav-link sr-only"  href="#">高级</a>
    </li>
</ul>