<div class="row">
    {% for item in context %}
        <div class="col-sm-3 p-2">
            <div class="media border p-2 shadow-sm">
                 <a href="/property_form/?act=display&id={{ item.id }}">
                     <img class="img-thumbnail mr-3" src="{{ item.asset_attachment__thumbnail }}" alt="img" style="height: 64px; width: 64px;">
                 </a>
                <div class="media-body">
                    <h5>[{{ item.sid }}]</h5>
                    <div> {{ item.name }} {{ item.statusstr| safe }}</div>
                </div>
            </div>
        </div>
    {% empty %}
        (暂无数据)
    {% endfor %}
</div>