{% extends "base.html" %}

{% block styecss %}

{% endblock styecss %}

{% block mainbody %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 border-right">
                {% include 'asset_menu_side_sub.html' %}
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card mt-2">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-10">
                                        <h5>可用设备</h5>
                                    </div>
                                    <div class="col-2">
                                        <span><i class="fa fa-refresh fa-1x fa-fw"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <canvas id="chartContainer" style="height: 180px; max-width: 920px; margin: 0px auto;"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-2">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-10">
                                        <h5>年采购量(近10年)</h5>
                                    </div>
                                    <div class="col-2">
                                        <span><i class="fa fa-refresh fa-1x fa-fw"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <canvas id="secend" style="height: 180px; max-width: 920px; margin: 0px auto;"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-2">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-10">
                                        <h5>采购量</h5>
                                    </div>
                                    <div class="col-2">
                                        <span><i class="fa fa-refresh fa-1x fa-fw"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <canvas id="popChart" style="height: 180px; max-width: 920px; margin: 0px auto;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script src="/static/js/asset_kanban_board.js"></script>
{% endblock jquery%}