<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这是基础页</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">
    {% block styecss %}
    {% endblock styecss %}

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    {% block jquery %}
    {% endblock jquery%}

            <script>
            $(document).ready(function () {
                $(".kkkk").click(function () {
                    $(this).fadeOut("slow");
                });
            });
            </script>
</head>
<body>
   <header>
   		<div class="logo"><a href="/"></a></div>
		<nav>
            <ul class="but_top_menu">
                <li><a href="/hr/">员工</a></li>
                <li><a href="/pure_list/">设备</a></li>
                <li><a href="/search_form/">服务</a></li>
                <li><a href="/conf/">设置</a></li>
            </ul>
		</nav>
		<div class="userinfo">
            <ul class="but_top_menu">
                <li><a href="/">help<i class="fa fa-book fa-1x"></i></a></li>
                <li><a href="/">用户<i class="fa fa-user fa-1x"></i></a></li>
            </ul>
		</div>
   </header>

   <div class="pager">
        {% block mainbody %}
        <p>这是主页</p>
            <form action="/upload/" method="post"  enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="file"/>
                <input type="submit" value="upload"/>
            </form>

            <form action="/pure_add/" method="post" name="iii">
                {% csrf_token %}
                <input type="text" name="fname"/>
                <input type="number" name="num"/>
                <button type="submit" value="1" ><i class="fa fa-subway fa-1x"></i></button>
            </form>


            <button class="kkkk" type="submit" value="1" >kkkkkkkkk</button>

        {% endblock %}
   </div>
</body>
</html>