<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这是基础页</title>

    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 400px)" href="tinyScreen.css" />
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 400px)" href="tinyScreen.css" />
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 400px)" href="tinyScreen.css" />

    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">
    {% block styecss %}
    {% endblock styecss %}

    {#    <script src="/static/js/jquery-3.3.1.min.js"></script>#}
    <script src="/static/js/jquery-3.3.1.js"></script>
    {% block jquery %}
    {% endblock jquery%}

</head>
<body>
   <header class="clearfix">
   		<a class="logo" href="/"><i class="fa fa-windows fa-2x"></i></a>
        <ul class="but_top_menu">
            <li><a href="/hr/">员工</a></li>
            <li><a href="/pure_list/">设备</a></li>
            <li><a href="/search/">服务</a></li>
            <li><a href="/conf/">设置</a></li>
        </ul>
		<div class="userinfo">
            <ul class="but_top_menu">
                <li><a href="/">{{ userinfo }}<i class="fa fa-user fa-1x"></i></a></li>
                <li><a href="/signout/">注销<i class="fa fa-sign-out fa-1x"></i></a></li>
            </ul>
		</div>
   </header>

   <div class="pager clearfix">
        {% block mainbody %}
            <div class="blk">
{#            <img src="/static/img/backgroud.gif" width="100%" height="100%" atl="">#}
                <div class="appbox">
                    <a href="/pure_list/">
                        <p class="applogo"><i class="fa fa-exchange fa-5x"></i></p>
                        <p class="appleb">FTP</p>
                    </a>
                </div>

                <div class="appbox">
                    <a href="#">
                        <p class="applogo"><i class="fa fa-send fa-5x"></i></p>
                        <p class="appleb">T-transfer</p>
                    </a>
                </div>

                <div class="appbox">
                    <a href="#">
                        <p class="applogo"><i class="fa fa-share-alt fa-5x"></i></p>
                        <p class="appleb">File Share</p>
                    </a>
                </div>
            </div>


        {% endblock %}
   </div>
</body>
</html>