{% extends "base.html" %}

{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/base_conf.css">
{% endblock styecss %}

{% block mainbody %}
    <div class="context">
        <div class="head_form">
            <p>head_form</p>
        </div>
        <div class="nave_form">
            <p>nave_form</p>
        </div>
        <div class="context_form">
            <p>context_form</p>
             <p>{{ message }}</p>
        </div>
        <div class="foot_form">
            <p>foot_form</p>
        </div>
    </div>
{% endblock %}