{% extends "base.html" %}

{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/base_conf.css">
    <link rel="stylesheet" type="text/css" href="/static/css/view_hr_list.css">
{% endblock styecss %}

{% block mainbody %}
    <div>
        <div class="container-fluid">
            <div>
                <h3>{{ title }}</h3>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <!--工具条-->
                    <div>
                        <button type="button" class="btn btn-primary">保存</button>
                        <button type="button" class="btn btn-default">取消</button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <!--导入导出条-->
                    <div class="dropdown sr-only">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            动作
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">打印</a></li>
                            <li><a href="#">导出</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <context class="container-fluid">
            <form  class="form-horizontal" action="/conf" method="get" value=1>
                <div class="container-fluid cmd_nav">
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" data-loading-text="Loading..." class="btn btn-primary" data-toggle="gettoken" autocomplete="off">
                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                                Token
                            </button>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group input-group">
                                <label class="input-group-addon" >CORPID:</label>
                                <input class="form-control" type="text" name="corpid" value="{{ context.corpid }}">
                            </div>

                            <div class="form-group input-group">
                                <label class="input-group-addon">CORPSECRET:</label>
                                <input class="form-control" type="text" name="corpsecret" value="{{ context.corpsecret }}">
                            </div>
                            <button type="submit" class="btn btn-default" value="提交">提交</button>
                        </div>

                    </div>

                </div>
            </form>
        </context>
        <div class="footbar">

        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script src="/static/js/base_conf.js"></script>
{% endblock jquery%}