{% extends "base.html" %}

{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/view_hr_list.css">
{% endblock styecss %}

{% block mainbody %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 border-right">
                {% include 'aest_sub_sidemenu.html' %}
            </div>
            <div class="col-10">
                <div class="container-fluid">
                    <div class="row mt-2">
                        <h3 class="col-sm-6">{{ title }}</h3>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="搜索...">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button"><i class="fa fa-search-plus fa-1x"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-6">
                            <!--工具条-->
                            <button type="button" class="btn btn-primary" data-toggle="create">创建</button>
                            <button type="button" class="btn btn-outline-secondary disabled" data-toggle="del">删除</button>
                        </div>
                        <div class="col-sm-3">
                            <!--导入导出条-->
                            <div class="btn-group">
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                                        动作
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">导入</a>
                                        <a class="dropdown-item" href="#">导出</a>
                                    </div>
                                </div>
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                                        筛选
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">归档</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">自定义</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <!--导航条-->
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item disabled"><a class="page-link"><span id="assetid">{{ pk|default:0 }}-{{ pk|default:0 }}</span>/{{ spk|default:0 }}</a></li>
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <table class="table table-hover table-responsive-sm">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" name="selall" value="0" /></th>
                                    <th>名称<span class="caret"></span></th>
                                    <th>上一级<span class="caret"></span></th>
                                    <th>自动编号<span class="caret"></span></th>
                                    <th>组件<span class="caret"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in context %}
                                    <tr>
                                        <td><input type="checkbox" name="selitem" value="{{ item.id }}"></td>
                                        <td><a href="/category_form/?act=display&id={{ item.id }}">{{ item.name }}</a></td>
                                        <td>{{ item.displayname }}</td>
                                        <td>{{ item.autosid }}</td>
                                        <td>
                                            {% if item.bom %}
                                                <i class="fa fa-link fa-1x"></i>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td  colspan="4" style="text-align: center;">(暂无数据)</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
