{% extends "base.html" %}

{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/view_hr_list.css">
{% endblock styecss %}

{% block jquery %}
        <script src="/static/js/category_form.js"></script>
{% endblock jquery%}

{% block mainbody %}
    <!--<div class="view_form"> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 border-right">
               {% include 'asset_menu_side_sub.html' %}
            </div>
            <div class="col-10">
                <div class="container-fluid">
                    <div class="row mt-2">
                        <h3 class="col-sm-6">{{ title }}</h3>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-6">
                            <!--工具条-->
                            <div>
                                <button type="button" class="btn btn-primary sr-only" data-dis="display" data-toggle="edit">编辑</button>
                                <button type="button" class="btn btn-outline-secondary sr-only" data-dis="display" data-toggle="del">删除</button>
                                <button type="button" class="btn btn-primary sr-only" data-dis="edit" data-toggle="save">保存</button>
                                <button type="button" class="btn btn-outline-secondary sr-only" data-dis="edit" data-toggle="cancel">取消</button>
                                <button type="button" class="btn btn-outline-secondary" data-dis="display" data-toggle="goback">返回</button>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <!--导入导出条-->
                            <div class="btn-group">
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                                        打印
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">基本信息</a>
                                    </div>
                                </div>
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                                        动作
                                        <span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/category_form/?act=create&id={{ pk }}">复制</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <!--导航条-->
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item">
                                        <a class="page-link" href="/category_form/?act=display&id={{ ppk }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item disabled"><a class="page-link"><span id="itemid">{{ pk|default:0 }}</span>/{{ spk|default:0 }}</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="/category_form/?act=display&id={{ npk }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <form class="col" action="#" method="post" enctype="multipart/form-data" name="accset_form" id="headerimgform">
                        {% csrf_token %}
                        <input name="act" id="act" value="{{ act }}" type="hidden">

                        <div class="row shadow border-top border-bottom py-2">
                            <div class="col-auto mr-auto">
                                <button type="button" class="btn btn-outline-primary" id="btnaplsub">应用到设备</button>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="container shadow border p-3 rounded my-3">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-sm-6 mb-3">
                                        <!-- id -->
                                        <input class="form-control sr-only" type="text" name="id" id="id" value="{{ context.id }}">
                                    </div>
                                    <div class="col-sm-5 mb-3">
                                        <div class="btn-group" role="group">
                                            <div class="btn-group" role="group">
                                                {% if context.active == 1 %}
                                                    <button type="button" class="btn btn-outline-secondary" data-toggle="active" data-val="1">
                                                        <i class="fa fa-archive fa-1x"></i> 归档
                                                    </button>
                                                {% else %}
                                                    <button type="button" class="btn btn-outline-secondary" data-toggle="active" data-val="0">
                                                        <i class="fa fa-archive fa-1x"></i> 取档
                                                    </button>
                                                {% endif %}
                                            </div>
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-outline-secondary">
                                                    <i class="fa fa-cubes fa-1x"></i>
                                                    设备/配件
                                                    <span class="badge badge-secondary" id="subnum">{{ subnum }}</span>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!-- 上面是头 -->
                                <div class="row mt-3">
                                    <div class="form-group form-row col-sm">
                                        <label class="col-sm-2 col-form-label text-left text-sm-right" for="name">名称</label>
                                        <div class="col-sm-10">
                                            <input class="form-control required repeat" type="text" name="name" id="name" value="{{ context.name }}" placeholder="(必填)">
                                            <div class="invalid-tooltip" id="popname">
                                                必填
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-row col-sm">
                                        <label class="col-sm-2 col-form-label text-left text-sm-right" for="bname">自动编号</label>
                                        <div class="col-sm-3">
                                            <input class="form-control" type="text" name="bname" id="bname" value="{{ context.autosid }}" placeholder="前缀">
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="form-control" type="text" name="nnum" id="nnum" value="" placeholder="序号(数字#,位数)">
                                        </div>
                                        <div class="col-sm-3">
                                            <input class="form-control" type="text" name="aname" id="aname" value="" placeholder="后缀">
                                        </div>
                                    </div>
                                    <div class="w-100"></div>

                                    <div class="form-group form-row col-sm">
                                        <label class="col-sm-2 col-form-label text-left text-sm-right" for="parentid">上一级</label>
                                        <div class="col-sm-10">
                                            <select class="custom-select" id="parentid" name="parentid">
                                                {% if context.parentid.id == None %}
                                                    <option value="0" selected="selected"></option>
                                                {% else %}
                                                    <option value="0"></option>
                                                {% endif %}
                                                {% for item in cats %}
                                                    {% if item.id == context.parentid.id %}
                                                        <option value="{{ item.id }}" selected="selected">{{ item.displayname }}</option>
                                                    {% else %}
                                                        <option value="{{ item.id }}">{{ item.displayname }}</option>
                                                    {% endif %}
                                                {% empty %}
                                                    <option>请先添加类型</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-row col-sm">
                                        <label class="col-sm-2 col-form-label text-left text-sm-right">配件</label>
                                        <div class="col-sm-10 align-self-center">
                                            <div class="form-check">
                                                <input class="form-check-input" id="bom" type="checkbox" name="bom" {% if context.bom %} checked="checked" {% endif %} val="False"/>
                                                <label class="form-check-label" for="bom">配件/组合件</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-100"></div>

                                    <div class="form-group form-row col-sm">
                                        <label class="col-sm-2 col-form-label text-left text-sm-right" for="notes">备注</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" name="notes" clos=",100" rows="5" warp="soft" placeholder="备注" readonly="readonly" id="notes">{{ context.notes }}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group form-row col-sm"></div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- 删除对话框 -->
                    <div class="modal fade" id="Md_del" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModalLabel">删除记录</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class="content">
                                        <p>请确认是否删除此记录？</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
                                    <button type="button" class="btn btn-danger" data-toggle="surdel">删除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}