<nav class="col-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span><i class="fa fa-users fa-1x"></i> 员工</span>
            <a class="d-flex align-items-center text-muted" href="#">
                <i class="fa fa-plus fa-1x"></i>
            </a>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item d-flex justify-content-between align-items-center px-3">
                <a class="nav-link" href="/hr/">员工</a>
            </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span><i class="fa fa-sitemap fa-1x"></i> 部门</span>
            <a class="d-flex align-items-center text-muted" href="#">
                <i class="fa fa-plus fa-1x"></i>
            </a>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item d-flex justify-content-between align-items-center px-3">
                <a class="nav-link" href="/dep/">部门</a>
            </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span><i class="fa fa-cog fa-1x"></i> 设置</span>
            <a class="d-flex align-items-center text-muted" href="#">
                <i class="fa fa-plus fa-1x"></i>
            </a>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item d-flex justify-content-between align-items-center px-3">
                <a class="nav-link"  href="#">常规</a>
            </li>
            <li class="nav-item d-flex justify-content-between align-items-center px-3">
                <a class="nav-link"  href="#">高级</a>
            </li>
        </ul>
    </div>
</nav>