<div class="limg"></div>
<ul class="nav flex-column nav-pills">
    <li class="nav-item list-group-item">
        <h5><i class="fa fa-users fa-1x"></i> 员工</h5>
        <a class="nav-link" href="/hr/">员工</a>
    </li>
    <li class="nav-item list-group-item">
        <h5><i class="fa fa-sitemap fa-1x"></i> 部门</h5>
        <a class="nav-link" href="/dep/">部门</a>
    </li>
    <li class="nav-item list-group-item">
        <h5><i class="fa fa-cog fa-1x"></i> 设置</h5>
        <a class="nav-link"  href="#">常规</a>
        <a class="nav-link"  href="#">高级</a>
    </li>
</ul>