<!--导航条-->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end my-0" id="pagenav">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous" data-pagprevious="{{ pagprevious }}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item disabled" id="page" data-page="{{ page }}">
            <a class="page-link">
                <span id="assetid"><span>{{ fpk|default:0 }}</span>-<span>{{ tpk|default:0 }}</span>/<span>{{ spk|default:0 }}</span></span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next" data-pagnext="{{ pagnext }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>