{% extends "base.html" %}

{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/view_hr_list.css">
{% endblock styecss %}

{% block mainbody %}
    <div class="view_menu">
        <div class="limg"></div>
        <div class="sub_menu">
            <ul>
                <li>
                    <a href="#">设备</a>
                        <li><a href="#">设备</a></li>
                        <li><a href="#">配件</a></li>
                </li>
                <li><a href="#">服务</a></li>
                <li><a href="#">设置</a></li>
            </ul>
        </div>
        <div class="sub_menu_foot"></div>
    </div>
    <div class="view_form">
        <div class="header">
            <h1>{{ title }}</h1>
        </div>
        <div class="cmd_nav">
            <ul class="but_cmd">
                <li><a href="/pure_form?act=0">新建</a></li>
                <li>
                    <a href="#">删除</a>
                </li>
            </ul>
            <div class="flowlist"></div>
        </div>
        <context>
    {#        <header class="">#}
    {##}
    {#        </header>#}
            <div class="listview">
                <table class="table_view" border="1">
                    <thead>
                        <tr>
                            <th><input type="checkbox"></th>
                            <th>状态</th>
                            <th>编号</th>
                            <th>名称</th>
                            <th>规格</th>
                            <th>出厂编号</th>
                            <th>购买日期</th>
                            <th>维保到期</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in context %}
                            <tr>
                                <td><input type="checkbox" name="selitem"></td>
                                <td>
                                    {% if  item.status %}
                                        <span style="color: green;"><i class="fa fa-toggle-on fa-1x"></i></span>
                                    {% else %}
                                        <span style="color: red;"><i class="fa fa-toggle-off fa-1x"></i></span>
                                    {% endif %}
                                </td>
                                <td>{{ item.sid }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.specifications }}</td>
                                <td>{{ item.sn }}</td>
                                <td>{{ item.purchase }}</td>
                                <td>{{ item.warranty|date:'Y-m-d' }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td  colspan="8" style="text-align: center;">(暂无数据)</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </context>
        <div class="footbar"></div>
    </div>
{% endblock %}
