{% extends "base.html" %}

{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/view_hr_list.css">
{% endblock styecss %}

{% block mainbody %}
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <h3>{{ title }}</h3>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜索...">
                        <div class="input-group-append">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></button>
                        </div>
                    </div><!-- /input-group -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <!--工具条-->
                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="create">创建</button>
                        <button type="button" class="btn btn-outline-secondary disabled" data-toggle="del">删除</button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <!--导入导出条-->
                    <div class="btn-group">
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                动作
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">导入</a>
                                <a class="dropdown-item" href="#">导出</a>
                            </div>
                        </div>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                筛选
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">归档</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">规格</a>
                                <a class="dropdown-item" href="#">用户</a>
                                <a class="dropdown-item" href="#">部门</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">自定义</a>
                            </div>
                        </div>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                分组
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">名称</a>
                                <a class="dropdown-item" href="#">规格</a>
                                <a class="dropdown-item" href="#">部门</a>
                                <a class="dropdown-item" href="#">状态</a>
                            </div>
                        </div>
                    </div>

            </div>
                <div class="col-sm-2">
                    <!--导航条-->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <article>
            <div>
                <table class="table table-hover table-condensed table-sm">
                    <thead>
                        <tr>
                            <th><input type="checkbox" name="selall"></th>
                            <th data-id="status">状态<i class="" aria-hidden="true" data-id="0"></i></th>
                            <th data-id="sid">编号<i class="" aria-hidden="true" data-id="0"></i></th>
                            <th data-id="name">名称<i class="" aria-hidden="true" data-id="0"></i></th>
                            <th data-id="specifications">规格<i class="" aria-hidden="true" data-id="0"></i></th>
                            <th data-id="sn">出厂编号<i class="" aria-hidden="true" data-id="0"></i></th>
                            <th data-id="purchase">购买日期<i class="" aria-hidden="true" data-id="0"></i></th>
                            <th data-id="warranty">维保到期<i class="" aria-hidden="true" data-id="0"></i></th>
                            <th data-id="user">用户<i class="" aria-hidden="true" data-id="0"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in context %}
                            <tr>
                                <td><input type="checkbox" name="selitem" value="{{ item.id }}"></td>
                                <td>
                                    {% if  item.status == 1 %}
                                        <span class="badge badge-secondary">闲置</span>
                                    {% elif item.status == 2 %}
                                        <span class="badge badge-success">在用</span>
                                    {% elif item.status == 3 %}
                                        <span class="badge badge-warning">维修</span>
                                    {% elif item.status == 4 %}
                                        <span class="badge badge-danger">报废</span>
                                    {% endif %}
                                </td>
                                <td>{{ item.sid }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.specifications }}</td>
                                <td>{{ item.sn }}</td>
                                <td>{{ item.purchase|date:'Y-m-d' }}</td>
                                <td>{{ item.warranty|date:'Y-m-d' }}</td>
                                <td>{{ item.user.name }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td  colspan="8" style="text-align: center;">(暂无数据)</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </article>
        <div class="footbar"></div>
    </div>
{% endblock %}

{% block jquery %}
    <script src="/static/js/property_list.js"></script>
{% endblock jquery%}