{% extends "base.html" %}

{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/view_hr_list.css">
{% endblock styecss %}

{% block jquery %}
        <script src="/static/js/property_form.js"></script>
{% endblock jquery%}

{% block mainbody %}
    <!--<div class="view_form"> -->
    <div>
        <div class="container-fluid">
            <div class="row mt-2">
                <h3 class="col-sm-6">{{ title }}</h3>
            </div>
            <div class="row mt-2">
                <div class="col-sm-6">
                    <!--工具条-->
                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="edit">编辑</button>
                        <button type="button" class="btn btn-outline-secondary" data-toggle="create">创建</button>
                        <button type="button" class="btn btn-outline-secondary" data-toggle="del">删除</button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <!--导入导出条-->
                    <div class="btn-group">
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                打印
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">信息单</a>
                                <a class="dropdown-item" href="#">基本信息</a>
                            </div>
                        </div>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                动作
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">复制</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">导入</a>
                                <a class="dropdown-item" href="#">导出</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">同步到企业微信</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <!--导航条-->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            <li class="page-item">
                                <a class="page-link" href="/property_form/?act=display&id={{ ppk }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item disabled"><a class="page-link"><span id="assetid">{{ pk|default:0 }}</span>/{{ spk|default:0 }}</a></li>
                            <li class="page-item">
                                <a class="page-link" href="/property_form/?act=display&id={{ npk }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <article>
            <form class="" action="#" method="post" enctype="multipart/form-data" name="accset_form" id="headerimgform">

                {% csrf_token %}
                <input name="act" id="act" value="{{ act }}" type="hidden">

                <div class="container-fluid shadow border py-2">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary disabled" data-toggle="save">保存</button>
                            <button type="button" class="btn btn-outline-secondary" data-toggle="goback">返回</button>
                        </div>
                        <h5 class="col">
                            <span>
                                {% if context.status == 1 %}
                                <a href="#" class="badge badge-secondary">闲置</a>
                                {% endif %}
                                {% if context.status == 2 %}
                                <a href="#" class="badge badge-success">在用</a>
                            {% endif %}
                                {% if context.status == 3 %}
                                <a href="#" class="badge badge-warning">维修</a>
                            {% endif %}
                                {% if context.status == 4 %}
                                <a href="#" class="badge badge-danger">报废</a>
                            {% endif %}
                            </span>
                        </h5>
                    </div>
                </div>
                <div class="container shadow border p-3 rounded my-3">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-sm-6 mb-3">
                            <div class="media">
                                <a class="pr-3" href="#">
                                    <img src="{{ headimg | default_if_none:'#' }}" data-id={{ imgid }} data-src="{{ headimg | default_if_none:'holder.js/100x100' }}" class="img-thumbnail float-left mr-3" id="headerimg" alt="headerimg" style="height: 100px; width: 100px;">
                                </a>
                                <input class="form-control sr-only" type="text" name="id" id="id" value="{{ context.id }}">
                                <input type="file" name="file" class="sr-only" id="imgupload" accept=".png,.gif,.jpg">
                                <div class="media-body">
                                    <div class="form-group sr-only">
                                        <label class="col col-form-label sr-only" for="sid">编号</label>
                                        <div class="col">
                                            <input class="form-control" type="text" name="sid" id="sid" value="{{ context.sid }}" placeholder="编号" data-toggle="tooltip" data-placement="bottom" title="必填:0-9,A-Z,中划线,改o为0,32位以内,">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <h2 class="media-heading">{{ context.sid }}</h2>
                                        <div class="w-100"></div>
                                        <button type="button" class="btn btn-outline-secondary" id="upload"><i class="fa fa-pencil fa-1x"></i></button>
                                        <button type="button" class="btn btn-outline-secondary" id="delimg"><i class="fa fa-trash fa-1x"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 mb-3">
                            <div class="btn-group" role="group">
                                <div class="btn-group" role="group">
                                    {% if context.active == 1 %}
                                        <button type="button" class="btn btn-outline-primary" data-toggle="active" data-val="1">
                                            <i class="fa fa-archive fa-1x"></i>
                                            归档
                                        </button>
                                    {% else %}
                                        <button type="button" class="btn btn-outline-primary" data-toggle="active" data-val="0">
                                            <i class="fa fa-archive fa-1x"></i>
                                            取档
                                        </button>
                                    {% endif %}
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-outline-primary">
                                        <i class="fa fa-wrench fa-1x"></i>
                                        维修
                                        <span class="badge badge-secondary">15</span>
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-outline-primary">
                                        <i class="fa fa-truck fa-1x"></i>
                                        调配
                                        <span class="badge badge-secondary">9</span>
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                        <i class="fa fa-paperclip fa-1x"></i>
                                        附件
                                        <span class="badge badge-secondary">9</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 上面是头 -->

                    <div class="row mt-3">
                        <div class="form-group row col-sm">
                            <label class="col-sm-2 col-form-label text-left text-sm-right border-right" for="name">名称</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="name" id="name" value="{{ context.name }}" placeholder="名称" data-toggle="tooltip" data-placement="bottom" title="必填">
                            </div>
                        </div>
                        <div class="form-group row col-sm">
                            <label class="col-sm-2 col-form-label text-left text-sm-right border-right" for="sn">出厂编号</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="sn" type="text" name="sn" value="{{ context.sn }}" placeholder="出厂编号" data-toggle="tooltip" data-placement="bottom" title="必填:字母大写,改o为0">
                            </div>
                        </div>
                        <div class="w-100"></div>

                        <div class="form-group row col-sm">
                            <label class="col-sm-2 col-form-label text-left text-sm-right border-right" for="model">型号</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="model" type="text" name="model" value="{{ context.model }}"  placeholder="型号" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Model/PN">
                            </div>
                        </div>
                        <div class="form-group row col-sm">
                            <label class="col-sm-2 col-form-label text-left text-sm-right border-right" for="spec">规格</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="spec" type="text" name="specifications" value="{{ context.specifications }}" placeholder="规格" data-container="body" data-toggle="tooltip" data-placement="bottom" title="">
                            </div>
                        </div>
                        <div class="w-100"></div>

                        <div class="form-group row col-sm">
                            <label class="col-sm-2 col-form-label text-left text-sm-right border-right" for="categoryid">类型</label>
                            <div class="col-sm-10">
                                <div class="input-group" >
                                    <select class="custom-select" id="categoryid" name="categoryid" data-toggle="tooltip" data-placement="bottom" title="必填">
                                        {% if context.categoryid == None %}
                                            <option value="0" selected="selected"></option>
                                        {% endif %}
                                        {% for item in cats %}
                                            {% if item.name == context.categoryid.name %}
                                                <option value="{{ item.id }}" selected="selected">{{ item.name }}</option>
                                            {% else %}
                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                            {% endif %}
                                        {% empty %}
                                            <option>请先添加类型</option>
                                        {% endfor %}
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button"  id="cateid" ><i class="fa fa-external-link fa-1x"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row col-sm">
                        </div>
                        <div class="w-100"></div>

                        <div class="form-group row col-sm">
                            <label class="col-sm-2 col-form-label text-left text-sm-right border-right" for="user">用户{{ context.user_name }}</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <select class="custom-select" id="user" name="user">
                                        {% if context.user.name == None %}
                                            <option value="0" selected="selected"></option>
                                        {% endif %}
                                        {% for hr in hrs %}
                                            {% if hr.name == context.user.name %}
                                                <option value="{{ hr.id }}" selected="selected">{{ hr.name }}</option>
                                            {% else %}
                                                <option value="{{ hr.id }}">{{ hr.name }}</option>
                                            {% endif %}
                                        {% empty %}
                                            <option>请先添加员工</option>
                                        {% endfor %}
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button"><i class="fa fa-external-link fa-1x"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row col-sm">
                            <label class="col-sm-2 col-form-label text-left text-sm-right border-right" for="position">位置</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="position" value="{{ context.position|default:"" }}" id="position" placeholder="">
                            </div>
                        </div>
                        <div class="w-100"></div>

                        <div class="form-group row col-sm">
                            <label class="col-sm-2 col-form-label text-left text-sm-right border-right">部门</label>
                            <div class="col-sm-10">
                                <p>部门</p>
                            </div>
                        </div>
                        <div class="form-group row col-sm">
                            <label class="col-sm-2 col-form-label text-left text-sm-right border-right">职务</label>
                            <div class="col-sm-10">
                                <p>职务</p>
                            </div>
                        </div>
                    </div>

                    <!-- 下面是Tabs-->
                    <div>
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a class="nav-link  active" href="#parts" data-toggle="tab">配件 <span class="badge badge-secondary">{{ partsnum| default:0 }}</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="#purchase" data-toggle="tab">采购</a></li>
                            <li class="nav-item"><a class="nav-link" href="#other" data-toggle="tab">其它</a></li>
                        </ul>
                        <div class="tab-content border-bottom py-3">
                            <div class="tab-pane active" id="parts">
                                <div class="row px-3">
                                    <div class="col-12">
                                        <button class="btn btn-primary disabled" type="submit" form="cccc">添加</button>
                                    </div>
                                    <table class="table table-striped table-sm mt-3">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>名称</th>
                                            <th>规格</th>
                                            <th>编号</th>
                                            <th>取出</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in parts %}
                                            <tr>
                                                <td></td>
                                                <td><a href="#">{{ item.name }}</a></td>
                                                <td>{{ item.specifications }}</td>
                                                <td>{{ item.sn }}</td>
                                                <td><a class="but_min" href="#" title="删除"><i class="fa fa-unlink fa-1x"></i></a></td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td  colspan="5" style="text-align: center;">(暂无数据)</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="purchase">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h5>信息</h5>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label text-left text-sm-right border-right">购买日期</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" type="date" name="purchase" value="{{ context.purchase|date:'Y-m-d' }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label text-left text-sm-right border-right">价格</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" type="number" name="price" value="{{ context.price|default:'0' }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label text-left text-sm-right border-right">出厂日期</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" type="date" name="manufacture" value="{{ context.manufacture|date:'Y-m-d' }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label text-left text-sm-right border-right">维保到期</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" type="date" name="warranty" value="{{ context.warranty|date:'Y-m-d' }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                    <h5>供应商</h5>
                                    <div class="row">
                                        <label class="col-sm-2 col-form-label text-left text-sm-right border-right">名称</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" name="supplier" value="{{ context.purchase|date:'Y-m-d' }}">
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="other">
                                <div class="form-group row">
                                    <label class="col-sm-1 col-form-label text-left text-sm-right">备注</label>
                                    <div class="col-sm-11">
                                        <textarea class="form-control" name="comment" clos=",100" rows="5" warp="soft" placeholder="备注">{{ context.nots }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            <div class="mt-3 border-top">
                <div class="container">
                    <p class="text-center">分配记录form_foot</p>
                    <div class="media mt-2">
                        <img src="" alt="" data-src="holder.js/48x48" class="mr-3">
                        <div class="media-body bg-light">
                            <h5>记录一</h5>
                            <p>这是一条记录</p>
                        </div>
                    </div>
                    <div class="media mt-2">
                        <img src="" alt="" data-src="holder.js/48x48" class="mr-3">
                        <div class="media-body bg-light">
                            <h5>记录二</h5>
                            <p>这是一条记录</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 设备照片对话框 -->
            <div class="modal fade" id="imglist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">照片: 查询</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
{#                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>#}
                                </ol>
                                <div class="carousel-inner">
{#                                    <div class="carousel-item active">#}
{#                                        <img class="d-block w-100" data-src="holder.js/520x400" alt="First slide">#}
{#                                    </div>#}
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 类型添加对话框 -->
            <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">类型: 添加</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form class="container">
                                <div class="form-group form-row">
                                    <label class="col-form-label text-left text-sm-right col-sm-2">名称</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="categoryname" value="{{ context.categoryid }}" aria-describedby="passwordHelpBlock">
                                        <small id="passwordHelpBlock" class="form-text text-muted">
                                            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                                        </small>
                                        <div class="invalid-feedback">
                                            Please provide a valid city.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-row">
                                    <label class="col-form-label text-left text-sm-right col-sm-2">上一级</label>
                                    <div class="col-sm-10">
                                        <select class="custom-select" name="newcategoryid">
                                            {% if context.categoryid == None %}
                                                <option value="0"></option>
                                            {% endif %}
                                            {% for item in cats %}
                                                {% if item.name == context.categoryid.name %}
                                                    <option value="{{ item.id }}" selected="selected">{{ item.name }}</option>
                                                {% else %}
                                                    <option value="{{ item.id }}">{{ item.name }}</option>
                                                {% endif %}
                                            {% empty %}
                                                <option>请先添加类型</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group form-row">
                                    <label class="form-check-label col-sm-2">组件</label>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary">添加</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 删除对话框 -->
            <div class="modal fade" id="Md_del" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">删除记录</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="content">
                                <p>请确认是否删除编号:<b>{{ context.sid }}</b>的记录？</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-danger" data-toggle="surdel">删除</button>
                        </div>
                    </div>
                </div>
            </div>

        </article>
    </div>
{% endblock %}
