{% extends "base.html" %}

{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/view_hr_list.css">
{% endblock styecss %}

{% block jquery %}
        <script src="/static/js/property_form.js"></script>
{% endblock jquery%}

{% block mainbody %}
    <!--<div class="view_form"> -->
    <div>
        <div class="header">
            <h1>{{ title }}</h1>
        </div>

        <context>
            <div class="formview">
                <div class="cmd_nav clearfix">
                    <ul class="but_cmd">
                        <li><button class="btn btn-default" type="submit" form="cccc">保存</button></li>
                    </ul>
                    <ul class="flowlist">
                        <li><a href="#l">状态1</a></li>
                        <li><a href="#l">状态2</a></li>
                        <li><a href="#l">状态3</a></li>
                        <li><a href="#l">状态4</a></li>
                    </ul>
                </div>
                <div class="form_view">
                    <div class="formtitle">
                        <h1>{{ context.sid }}</h1>
                        <div class="smarttools"></div>
                    </div>

                    <form action="#" method="post" id="cccc" name="pure">
                        {% csrf_token %}
                        <input name="acte" value="{{ act }}" type="hidden">

                        <div class="">
                            <label>状态</label>
                            <div>
                                {% if context.status %}
                                <input type="checkbox" name="status" value="true" checked="">
                                {% else %}
                                <input type="checkbox" name="status" value="false">
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2" for="sid">编号</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="sid" id="sid" value="{{ context.sid }}" placeholder="编号">
                            </div>
{#                        </div>#}
{##}
{#                        <div class="form-group">#}
                            <label class="col-sm-2" for="name">名称</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="name" id="name" value="{{ context.name }}" placeholder="名称">
                            </div>
{#                        </div>#}
{##}
{#                        <div class="form-group">#}
                            <label class="col-sm-2" for="spec">规格</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="spec" type="text" name="specifications" value="{{ context.specifications }}" placeholder="规格">
                            </div>

                            <label class="col-sm-2" for="model">型号</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="model" type="text" name="model" value="{{ context.model }}"  placeholder="型号">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2" for="cate">类型</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="cate" type="text" name="categoryid" value="{{ context.categoryid.name|default:'1001' }}">
                                    <option>{{ context.categoryid.name|default:'1001' }}</option>
                                    <option>{{ context.categoryid.name|default:'1001' }}</option>
                                    <option>{{ context.categoryid.name|default:'1001' }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">价格</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="number" name="price" value="{{ context.price|default:'0' }}">
                            </div>

                            <label class="col-sm-2">出厂编号</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="sn" value="{{ context.sn }}" placeholder="出厂编号">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">出厂日期</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="date" name="manufacture" value="{{ context.manufacture|date:'Y-m-d' }}">
                            </div>

                            <label class="col-sm-2">维保到期</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="date" name="warranty" value="{{ context.warranty|date:'Y-m-d' }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2">用户</label>
                            <div class="col-sm-10">
                                <select class="form-control" type="text" name="user" value="{{ context.user }}">
                                    <option>{{ context.user }}</option>
                                    <option>{{ context.user }}</option>
                                    <option>{{ context.user }}</option>
                                    <option>{{ context.user }}</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="sheet">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active" role="presentation"><a href="#pp">配件</a></li>
                            <li role="presentation"><a href="#pp">采购</a></li>
                            <li role="presentation"><a href="#pp">其它</a></li>
                        </ul>
                        <div class="sheetcontext">
                            <div>
                                <button class="btn btn-primary" type="submit" form="cccc">添加</button>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox"></th>
                                            <th>名称</th>
                                            <th>规格</th>
                                            <th>编号</th>
                                            <th>取出</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in parts %}
                                            <tr>
                                                <td><input type="checkbox" name="selitem"></td>
                                                <td><a href="#">{{ item.name }}</a></td>
                                                <td>{{ item.specifications }}</td>
                                                <td>{{ item.sn }}</td>
                                                <td><a class="but_min" href="#" title="删除"><i class="fa fa-unlink fa-1x"></i></a></td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td  colspan="5" style="text-align: center;">(暂无数据)</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix">
                                <div style="width:49%;float: left;">
                                    <h3>信息</h3>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="leb">文件配额</td>
                                                <td class="val"><input class="form_txtin" type="number" name="quotafiles" value="{{ context.quotafiles|default:'0' }}"></td>
                                            </tr>
                                            <tr>
                                                <td class="leb">购买日期</td>
                                                <td class="val"><input class="form_txtin" type="date" name="purchase" value="{{ context.purchase|date:'Y-m-d' }}"></td>
                                            </tr>
                                            <tr>
                                                <td class="leb">购买日期</td>
                                                <td class="val"><input class="form_txtin" type="date" name="purchase" value="{{ context.purchase|date:'Y-m-d' }}"></td>
                                            </tr>
                                            <tr>
                                                <td class="leb">购买日期</td>
                                                <td class="val"><input class="form_txtin" type="date" name="purchase" value="{{ context.purchase|date:'Y-m-d' }}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div style="width:49%;float: right;">
                                    <h3>功耗</h3>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td><input type="checkbox" name="selitem"></td>
                                                <td><a href="#">{{ item.name }}</a></td>
                                            </tr>
                                            <tr>
                                                <td>{{ item.specifications }}</td>
                                                <td>{{ item.sn }}</td>
                                            </tr>
                                            <tr>
                                                <td class="leb">购买日期</td>
                                                <td class="val"><input class="form_txtin" type="date" name="purchase" value="{{ context.purchase|date:'Y-m-d' }}"></td>
                                            </tr>
                                            <tr>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <p>备注</p>
                                </div>
                                <div class="col-sm-8">
                                    <textarea class="form_txtin" name="comment" clos=",100" rows="5" warp="soft" placeholder="备注">{{ context.nots }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form_foot">
                    <p>分配记录</p>
                    <div class="tbtable">
                        <div class="tbheader">

                        </div>
                        <div class="tbbody">
                            <div class="tbtr">
                                <a>
                                <div class="tbtd"></div>
                                <div class="tbtd"></div>
                                <div class="tbtd"></div>
                                <div class="tbtd"></div>
                                <div class="tbtd"></div>
                                </a>
                            </div>
                            <div class="tbtr">
                                <a>
                                <div class="tbtd"></div>
                                <div class="tbtd"></div>
                                <div class="tbtd"></div>
                                <div class="tbtd"></div>
                                <div class="tbtd"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </context>

        <div class="footbar"></div>
    </div>
{% endblock %}
