{% extends "base.html" %}

{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/view_hr_list.css">
{% endblock styecss %}

{% block jquery %}
        <script src="/static/js/property_form.js"></script>
{% endblock jquery%}

{% block mainbody %}
    <!--<div class="view_form"> -->
    <div>
        <div class="container-fluid">
            <div>
                <h3>{{ title }}</h3>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <!--工具条-->
                    <div>
                        <button type="button" class="btn btn-primary">编辑</button>
                        <button type="button" class="btn btn-default">创建</button>
                        <button type="button" class="btn btn-default">删除</button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <!--导入导出条-->
                    <div class="btn-group">
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                打印
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">信息单</a></li>
                                <li><a href="#">基本信息</a></li>
                            </ul>
                        </div>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                动作
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">复制</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">导入</a></li>
                                <li><a href="#">导出</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">同步到企业微信</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <!--导航条-->
                    <div class="input-group pull-right">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                        </span>
                        <input type="text" class="form-control text-center" placeholder="{{ pk }}/{{ spk }}" readonly>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <context class="container-fluid">
            <form class="form-horizontal" action="#" method="post" id="cccc" name="pure">
                {% csrf_token %}
                <input name="acte" value="{{ act }}" type="hidden">

                <div class="container-fluid cmd_nav">
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary disabled" data-toggle="save" form="cccc">保存</button>
                            <button class="btn btn-default" data-toggle="goback">返回</button>
                        </div>
                        <div class="col-sm-6">
{#                            <div class="collapse navbar-collapse">#}
                            <div class="clearfix">
{#                                <input name="status" value="{{ context.status }}" type="hidden">#}
{#                                <input name="status" value="{{ context.status }}">#}
{#                                <ul class="nav navbar-nav navbar-right">#}
                                <ul class="flowlist">
                                    <li><a href="#sal">闲置</a></li>
                                    <li><a href="#sl">在用</a></li>
                                    <li><a href="#dl">维修</a></li>
                                    <li><a href="#lr">报废</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form_view">
                    <div class="row">
                        <div class="col-sm-3">
                            <a href="#" class="thumbnail">
                                <img src="..." alt="..." style="width: 100px; height: 160px;">
                            </a>
                        </div>
                        <div class="col-sm-5">

                            <h1>{{ context.sid }}</h1>
{#                            <div class="form-group">#}
{#                                <label class="control-label col-sm-4 sr-only" for="sid">编号*</label>#}
{#                                <div class="col-sm-8">#}
{#                                    <input class="form-control" type="text" name="sid" id="sid" value="{{ context.sid }}" placeholder="编号">#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                        <div class="col-sm-4">
                            <div class="btn-group btn-group-justified" role="group">
                                <div class="btn-group" role="group">
                                <button class="btn btn-default"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>归档</button>
                                </div>
                                <div class="btn-group" role="group">
                                <button class="btn btn-default"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>维修</button>
                                </div>
                                <div class="btn-group" role="group">
                                <button class="btn btn-default"><span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>调配</button>
                                </div>
                                <div class="btn-group" role="group">
                                <button class="btn btn-default"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>附件</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <!-- 上面是头 -->

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="name">名称*</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="name" id="name" value="{{ context.name }}" placeholder="名称">
                        </div>
                        <label class="control-label col-sm-2" for="spec">规格</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="spec" type="text" name="specifications" value="{{ context.specifications }}" placeholder="规格">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="model">型号</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="model" type="text" name="model" value="{{ context.model }}"  placeholder="型号">
                        </div>
                        <label class="control-label col-sm-2">出厂编号*</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="sn" value="{{ context.sn }}" placeholder="出厂编号">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="cate">类型*</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <select class="form-control" id="cate" type="text" name="categoryid" value="{{ context.categoryid.name|default:'1001' }}">
                                    <option>{{ context.categoryid.name|default:'1001' }}</option>
                                    <option>{{ context.categoryid.name|default:'1001' }}</option>
                                    <option selected="selected">fgdrt</option>
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-share" aria-hidden="true"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- 居中横线 -->
                    <h5 class="page-header"></h5>

                    <div class="form-group">
                        <label class="control-label col-sm-2">用户</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <select class="form-control" type="text" name="user">
                                    {% for hr in hrs %}
                                        {% if hr.name == context.user.name %}
                                            <option value="{{ hr.id }}" selected="selected">{{ hr.name }}</option>
                                        {% else %}
                                            <option value="{{ hr.id }}">{{ hr.name }}</option>
                                        {% endif %}
                                    {% empty %}
                                        <option>请先添加员工</option>
                                    {% endfor %}
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-share" aria-hidden="true"></span></button>
                                </span>
                            </div>
                        </div>
                        <label class="control-label col-sm-2">位置</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="sn" value="" placeholder="所在位置">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">部门</label>
                        <div class="col-sm-4">
                            <p class="form-control-static">部门</p>
                        </div>
                        <label class="control-label col-sm-2">职务</label>
                        <div class="col-sm-4">
                            <p class="form-control-static">职务</p>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <!-- 下面是Tabs-->
                    <div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#parts" data-toggle="tab">配件</a></li>
                            <li role="presentation"><a href="#purchase" data-toggle="tab">采购</a></li>
                            <li role="presentation"><a href="#other" data-toggle="tab">其它</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="parts">
                                <button class="btn btn-primary disabled" type="submit" form="cccc">添加</button>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox"></th>
                                            <th>名称</th>
                                            <th>规格</th>
                                            <th>编号</th>
                                            <th>取出</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in parts %}
                                            <tr>
                                                <td><input type="checkbox" name="selitem"></td>
                                                <td><a href="#">{{ item.name }}</a></td>
                                                <td>{{ item.specifications }}</td>
                                                <td>{{ item.sn }}</td>
                                                <td><a class="but_min" href="#" title="删除"><i class="fa fa-unlink fa-1x"></i></a></td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td  colspan="5" style="text-align: center;">(暂无数据)</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane row" id="purchase">
                                <div class="col-sm-6">
                                    <h4>信息</h4>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">购买日期</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" type="date" name="purchase" value="{{ context.purchase|date:'Y-m-d' }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">价格</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" type="number" name="price" value="{{ context.price|default:'0' }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">出厂日期</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" type="date" name="manufacture" value="{{ context.manufacture|date:'Y-m-d' }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">维保到期</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" type="date" name="warranty" value="{{ context.warranty|date:'Y-m-d' }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h4>供应商</h4>
                                    <div class="row">
                                        <label class="control-label col-sm-4">名称</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" type="text" name="purchase" value="{{ context.purchase|date:'Y-m-d' }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="other">
                                <div class="form-group">
                                    <label class="control-label col-sm-1">备注</label>
                                    <div class="col-sm-11">
                                        <textarea class="form-control" name="comment" clos=",100" rows="5" warp="soft" placeholder="备注">{{ context.nots }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="form_foot">
                <p class="text-center">分配记录form_foot</p>
            </div>
        </context>
        <div class="footbar">footbar</div>
    </div>
{% endblock %}
