{% extends "base.html" %}

{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/view_hr_list.css">
{% endblock styecss %}

{% block mainbody %}
    <div class="view_menu">
        <div class="limg"></div>
        <div class="sub_menu">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="sub_menu_foot"></div>
    </div>
    <div class="view_form">
        <div class="header">
            <h1>{{ title }}</h1>
        </div>
        <context>
            <div class="formview">
                <div class="cmd_nav">
                    <ul class="but_cmd">
                        <li><button class="btn" type="submit" form="cccc">保存</button></li>
                    </ul>
                    <div class="flowlist"></div>
                </div>
                <div class="form_view">
                    <div class="formtitle">
                        <h1>{{ context.user }}</h1>
                        <div class="smarttools"></div>
                    </div>
                    <form action="/pure_add/" method="post" id="cccc" name="pure">
                        {% csrf_token %}
                        <input name="acte" value="{{ act }}" type="hidden">
                        <table>
                            <tr>
                                <td class="leb">status</td>
                                <td class="val">
                                    {% if context.status %}
                                    <input type="checkbox" name="status" value="true" checked="">
                                    {% else %}
                                    <input type="checkbox" name="status" value="false">
                                    {% endif %}
                                </td>
                                <td class="leb">user</td>
                                <td class="val"><input type="text" name="user" value="{{ context.user }}" placeholder="登录名"></td>
                            </tr>
                            <tr>
                                <td class="leb">password</td>
                                <td class="val"><input type="password" name="password" value="{{ context.password }}" placeholder="密码"></td>
                                <td class="leb">ipaccess</td>
                                <td class="val"><input type="text" name="ipaccess" value="{{ context.ipaccess }}"></td>
                            </tr>
                            <tr>
                                <td class="leb">dir</td>
                                <td class="val" colspan="3"><input type="text" name="dir" value="{{ context.dir }}"></td>
                            </tr>
                            <tr>
                                <td class="leb">uid</td>
                                <td class="val"><input type="text" name="uid" value="{{ context.uid }}"></td>
                                <td class="leb">gid</td>
                                <td class="val"><input type="text" name="gid" value="{{ context.gid }}"></td>
                            </tr>
                            <tr>
                                <td class="leb">ulbandwidth</td>
                                <td class="val"><input type="number" name="ulbandwidth" value="{{ context.ulbandwidth }}"></td>
                                <td class="leb">dlbandwidth</td>
                                <td class="val"><input type="number" name="dlbandwidth" value="{{ context.dlbandwidth }}"></td>
                            </tr>
                            <tr>
                                <td class="leb">quotasize</td>
                                <td class="val"><input type="number" name="空间配额" value="{{ context.quotasize }}"></td>
                                <td class="leb">quotafiles</td>
                                <td class="val"><input type="number" name="文件配额" value="{{ context.quotafiles }}"></td>
                            </tr>
                            <tr>
                                <td class="leb">createdate</td>
                                <td class="val"><input type="date" name="createdate" value="{{ context.createdate|date:'Y-m-d' }}"></td>
                                <td class="leb">lastedate</td>
                                <td class="val"><input type="date" name="lastedate" value="{{ context.lastedate|date:'Y-m-d' }}"></td>
                            </tr>
                            <tr>
                                <td class="leb">用途</td>
                                <td colspan="3">
                                <textarea class="val" name="comment" clos=",100" rows="3" warp="{{ context.comment }}" placeholder="使用说明"></textarea>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="form_foot"></div>
            </div>
        </context>
        <div class="footbar"></div>
    </div>
{% endblock %}
