{% extends "base.html" %}

{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/view_hr_list.css">
{% endblock styecss %}

{% block mainbody %}
    <div class="view_menu">
        <div class="limg"></div>
        <div class="sub_menu">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="sub_menu_foot"></div>
    </div>
    <div class="view_form">
        <div class="header">
            <h1>{{ title }}</h1>
        </div>
        <div class="cmd_nav">
            <ul class="but_cmd">
                <li><a href="/pure_form?act=0">新建</a></li>
                <li>
                    <a href="#">delete</a>
                </li>
            </ul>
            <div class="flowlist"></div>
        </div>
        <context>
    {#        <header class="">#}
    {##}
    {#        </header>#}
            <div class="listview">
                <table class="table_view" border="1">
                    <thead>
                        <tr>
                            <th><input type="checkbox"></th>
                            <th>状态</th>
                            <th>用户</th>
                            <th>密码</th>
                            <th>用户ID</th>
                            <th>组ID</th>
                            <th>上行带宽</th>
                            <th>下行带宽</th>
                            <th>说明</th>
                            <th>访问IP</th>
                            <th>空间大小</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in context %}
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>
                                    {% if  item.status %}
                                        <span style="color: green;"><i class="fa fa-toggle-on fa-1x"></i></span>
                                    {% else %}
                                        <span style="color: red;"><i class="fa fa-toggle-off fa-1x"></i></span>
                                    {% endif %}
                                </td>
                                <td>{{ item.user }}</td>
                                <td>{{ item.password }}</td>
                                <td>{{ item.uid }}</td>
                                <td>{{ item.gid }}</td>
                                <td>{{ item.ulbandwidth }}</td>
                                <td>{{ item.dlbandwidth }}</td>
                                <td>{{ item.comment }}</td>
                                <td>{{ item.ipaccess }}</td>
                                <td>{{ item.quotasize }}</td>
                                <td><a class="but_min" href="/pure_form?act={{ item.id }}" title="编辑"><i class="fa fa-edit fa-1x"></i></a></td>
                                <td><a class="but_min" href="del/{{ item.id }}" title="删除"><i class="fa fa-remove fa-1x"></i></a></td>
                                <td><a class="but_min" href="resend/{{ item.id }}" title="发送信息给创建者"><i class="fa fa-send fa-1x"></i></a></td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td  colspan="14" style="text-align: center;">(暂无数据)</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </context>
        <div class="footbar"></div>
    </div>
{% endblock %}
