{% extends "base.html" %}

{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/view_hr_list.css">
{% endblock styecss %}

{% block mainbody %}
    <div class="header">
        <h3>{{ hello }}</h3>
    </div>
    <div class="cmd_nav">
        <ul class="cmd">
            <li>
                <a href="#">add</a>
            </li>
            <li>
                <a href="#">delete</a>
            </li>
        </ul>
        <div class="flowlist"></div>
    </div>
    <context>

	</context>
    <div class="footbar">

    </div>
{% endblock %}
