{% extends "base.html" %}

{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/searcht.css">
    <link rel="stylesheet" type="text/css" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui-for-work.min.css">
{% endblock styecss %}

{% block jquery %}
    <script type="text/javascript">
        $(document).ready(function () {
{#            $('form').submit(function (e) {#}
{#                e.preventDefault();#}
{#            });#}

            $('form').submit(function (e) {
{#                e.preventDefault();#}
                 $('#ttt').addClass("was-validated")
            });

            $('#chack').on('click',function () {
                if ($('#input1').val() === '1'){
                    $('#ttt').removeClass("was-validated");
                    $('#input1').addClass('is-invalid');
                    $('#inputpop').text('是唯一值');
                }else{
                    $('#input1').removeClass('is-invalid');
                    $('#ttt').removeClass("was-validated");
                }
            });

            $('#go').on('click',function () {
                $('#ttt').addClass("was-validated");
                $('form').submit(function (e) {
                    e.preventDefault();
                });
            })
        })
    </script>
{% endblock jquery%}

{% block mainbody %}

    <h3>{{ title }}</h3>
    <button class="btn btn-primary" type="button" id="chack" >chack</button>
    <button class="btn btn-primary" type="button" id="go" >go</button>
    <form id="ttt" class="form-inline" action="url" >
        <div class="form-row">
            <label class="col-sm-2 col-form-label" for="input1">input1:</label>
            <div class="col-sm-10">
                <input class="form-control" id="input1" name="input1" required/>
                <div class="invalid-tooltip" id="inputpop">
                    Looks error!
                </div>
                <div class="valid-tooltip">
                    Looks good!
                </div>
            </div>
        </div>
        <div class="form-row">
            <label class="col-sm-2 col-form-label" for="input2">input2:</label>
            <div class="col-sm-10">
                <select class="form-control" id="input2" name="input2">
                    <option value="0" selected="selected">0</option>
                    <option value="1" selected="selected">1</option>
                    <option value="2" selected="selected">2</option>
                </select>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">submit</button>
    </form>
    
    

{% endblock %}



