{% extends "base.html" %}

{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/search.css">
{% endblock styecss %}

{% block mainbody %}
    <h3>搜索服务</h3>
    <form action="/search" method="get" value=1>
        <p>user:<input type="text" name="user" value="user"></p>
        <p>password:<input type="text" name="password" value="passwd"></p>
        <p>uid:<input type="text" name="uid" value="5001"></p>
        <p>gid:<input type="text" name="gid" value="5001"></p>
        <p>dir:<input type="text" name="dir" value="dr_user"></p>
        <p>ulbandwidth:<input type="number" name="ulbandwidth" value=256></p>
        <p>dlbandwidth:<input type="number" name="dlbandwidth" value=256></p>
        <p>comment:<input type="text" name="comment" value=""></p>
        <p>ipaccess:<input type="text" name="ipaccess" value="0.0.0.0"></p>
        <p>quotasize:<input type="number" name="quotasize" value=256></p>
        <p>quotaFiles:<input type="number" name="quotaFiles" value=256></p>
        <p>createdate:<input type="date" name="createdate" value="2018-2-4"></p>
        <p>lastedate:<input type="date" name="lastedate" value="2018-2-4"></p>
        <input type="submit" value="提交">
    </form>
{% endblock %}