{% extends "base.html" %}

{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/searcht.css">
    <link rel="stylesheet" type="text/css" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui-for-work.min.css">
{% endblock styecss %}

{% block jquery %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.mm').on('click',function () {
                $.ajax({
                    url:'/importdata/',
                    type:'POST',
                    data:{
                        "act":"display",
                        "id":1
                    },
                    success:function (data) {
                        console.log(data)
                    }
                })
            });

            $('#kk').click(function () {
                return $('#in').click();
            });

            $('#in').change(function () {
                alert('1')
            })

        })
    </script>
{% endblock jquery%}

{% block mainbody %}

    <p>{{ title }}</p>
    <input type="file" id="in">
    <button type="button" class="btn btn-success" id="kk" >kkkkk</button>

{% endblock %}



