{% extends "base.html" %}

{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/search.css">
{% endblock styecss %}


{% block jquery %}
    <script src="/static/js/wwLogin-1.0.0.js"></script>
{% endblock jquery%}

{% block mainbody %}
    <h3>登录页</h3>
    <div id="uspwd">
        <form action="/sign/" method="post" name="sign">
            {% csrf_token %}
            <p>user:<input type="text" name="user" value=""></p>
            <input type="submit" value="提交">
        </form>
    </div>

    <div id="wx_reg">
        <script>
            window.WwLogin({
            "id" : "wx_reg",
            "appid" : "ww74c5af840cdd5cb6",
            "agentid" : "1000013",
            "redirect_uri" :"http://127.0.0.1:8000/sign",
            "state" : "{{ stat }}",
            "href" : "",
            });
        </script>
    </div>

{% endblock %}