<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/static/css/sign.css">

    <script src="/static/js/wwLogin-1.0.0.js"></script>

</head>
<body>
   <header class="clearfix">
   		<a class="logo" href="/"><i class="fa fa-windows fa-2x"></i></a>

		<div class="userinfo">
            <ul class="but_top_menu">
                <li><a href="/">注册<i class="fa fa-user fa-1x"></i></a></li>
            </ul>
		</div>
   </header>

   <div class="pager clearfix">
       <div class="colcenter clearfix">
           <div class="signstyle" id="">
               <form action="/sign/" method="post" name="sign">
                   {% csrf_token %}
                   <span class="clearfix"><i class="fa fa-user fa-5x"></i></span>
                   <p><input class="txtstyle" type="text" name="user" value="" placeholder="用户名(拼音 首字母大写)"></p>
                   <p><input class="txtstyle" type="password" name="passwd" value="" placeholder="密码"></p>
                   <p><input class="txtstyle signbtu" type="submit" value="登   录"></p>
               </form>
           </div>
           <div class="signstyle" id="wx_reg">
           </div>
           <script src="/static/js/sign.js"></script>
       </div>

   </div>
</body>
</html>