{% extends "base.html" %}

{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/view_hr_list.css">
{% endblock styecss %}

{% block mainbody %}
    <div class="view_menu">
        <div class="limg">
        </div>
        <ul>
            <li class="semenuli"><a class="semenua" href="/hr/">员工</a></li>
            <li class="semenuli"><a class="semenua" href="/dep/">部门</a></li>
            <li class="semenuli"><a class="semenua" href="#">设置</a></li>
        </ul>
    </div>
    <div class="view_form">
        <div class="header">
            <h3>{{ hello }}</h3>
        </div>
        <div class="cmd_nav">
            <ul class="cmd">
                <li>
                    <a href="/sync">获取部门</a>
                </li>
            </ul>
            <div class="flowlist"></div>
        </div>
        <context>
            <table border="1">
                <thead>
                    <tr>
                        <th>Pid</th>
                        <th>NAME</th>
                        <th>PARENTID</th>
                        <th>ORDER</th>
                    </tr>
                </thead>
                <tbody>
{#                    {{ context | safe }}#}
                    {% for item in context %}
                        <tr>
                            <td>{{ item.pid }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.parentid }}</td>
                            <td>{{ item.order }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </context>
        <div class="footbar">

        </div>
    </div>
{% endblock %}
