{% extends "base.html" %}

{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/view_hr_list.css">
{% endblock styecss %}

{% block mainbody %}
    <div class="header">
        <p>{{ hello }}</p>
    </div>
    <div class="cmd_nav">
        <form action="/sync" method="get">
            <input type="submit" value="获取数据">
        </form>
    </div>
    <context>
        <table border="1">
            <thead>
                <tr>
                    <th>Pid</th>
                    <th>NAME</th>
                    <th>PARENTID</th>
                    <th>ORDER</th>
                </tr>
            </thead>
            <tbody>
                {{ context | safe }}
            </tbody>
        </table>
	</context>
    <div class="footbar">

    </div>
{% endblock %}
