{% extends "base.html" %}

{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/view_hr_list.css">
{% endblock styecss %}

{% block mainbody %}
    <div class="view_menu">
        <div class="limg">
        </div>
        <ul>
            <li class="semenuli"><a class="semenua" href="/hr/">员工</a></li>
            <li class="semenuli"><a class="semenua" href="/dep/">部门</a></li>
            <li class="semenuli"><a class="semenua" href="#">设置</a></li>
        </ul>
    </div>
    <div class="view_form">
        <div class="header">
            <h1>{{ title }}</h1>
        </div>
        <div class="cmd_nav">
            <ul class="cmd">
                <li>
                    <a href="/gethr">获取员工</a>
                </li>
            </ul>
            <div class="flowlist"></div>
        </div>
        <context>
            {% for item in context %}
                <div class="bordform">
{#                    <img src="{{ item.avatar }}" alt=""/>#}
                    <span>
{#                        <p>{{ item.userid }}</p>#}
                        <p><b>{{ item.name }}</b></p>
                        <p><i class="fa fa-credit-card fa-1x"></i>: {{ item.position }}</p>
                        <p><i class="fa fa-mobile fa-1x"></i>: {{ item.mobile }}</p>
                        <p><i class="fa fa-phone fa-1x"></i>: {{ item.telephone }}</p>
                    </span>
                </div>
            {% endfor %}
        </context>
        <div class="footbar">

        </div>
    </div>
{% endblock %}
