{% extends "base.html" %}

{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/view_hr_list.css">
{% endblock styecss %}

{% block mainbody %}
<div class="container-fluid">
    <div class="row">
        <div class="col-2 border-right">
            {% include 'hr_sub_sidemenu.html' %}
        </div>
        <div class="col-10">
            <div class="container-fluid">
                <div class="row mt-2">
                    <h3 class="col-sm-6">{{ title }}</h3>
                    <div class="col-sm-6 sr-only">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="搜索...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-6">
                        <!--工具条-->
                        <button type="button" class="btn btn-primary" data-toggle="create">创建</button>
                        <button type="button" class="btn btn-outline-secondary disabled" data-toggle="del">删除</button>
                        <button type="button" class="btn btn-outline-info" data-toggle="gethr">
                            <span><i class="fa fa-cloud-download fa-1x"></i></span>获取员工
                        </button>
                    </div>
                    <div class="col-sm-3">
                        <!--导入导出条-->
                        <div class="btn-group">
                            <div class="btn-group dropdown">
                                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                                    动作
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#" id="dddd">导入</a>
                                    <a class="dropdown-item" href="/static/download/property_list.xlsx">导出xlsx</a>
                                </div>
                            </div>
                            <div class="btn-group dropdown">
                                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                                    筛选
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#" id="unactive">已归档</a>
                                </div>
                            </div>
                            <div class="btn-group dropdown">
                                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
                                    分组
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#" data-act="group" data-groupby="name">部门</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-act="group" data-groupby="categoryid">级别</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <!--导航条-->
                        <ul class="pagination justify-content-end">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item disabled"><a class="page-link"><span id="assetid">{{ fpk|default:0 }}-{{ tpk|default:0 }}/{{ spk|default:0 }}</span></a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row border-top">
                {% for item in context %}
                    <div class="col-sm-6 col-md-4 col-lg-3 p-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="media">
                                    <img class="rounded  mr-3" src="{{ item.avatar| default:'/static/img/ftp-icon.jpg' }}" alt="Card image cap" style="width:64px;">
                                    <div class="media-body">
                                        <h5 class="mt-0">{{ item.name }} <sapn class="text-success"><i class="fa fa-weixin" aria-hidden="true"></i></sapn></h5>
                                        <p class="my-0"><span><i class="fa fa-credit-card fa-1x"></i></span>: {{ item.position }}</p>
                                        <p class="my-0"><span><i class="fa fa-mobile fa-1x"></i></span>: {{ item.mobile }}</p>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a class="btn btn-outline-link" href="{{ item.id }}"><i class="fa fa-edit fa-1x"></i></a>
                                    <a class="btn btn-outline-link" href="11"><i class="fa fa-edit fa-1x"></i></a>
                                    <a class="btn btn-outline-link" href="11"><i class="fa fa-edit fa-1x"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jquery %}
    <script src="/static/js/view_hr_broad.js"></script>
{% endblock jquery%}