{% extends "base.html" %}

{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/view_hr_list.css">
{% endblock styecss %}

{% block mainbody %}

    <div class="view_menu sr-only">
        <div class="limg"></div>
        <div>
            <ul class="sub_menu">
                <li><a href="#">员工</a>
                <ul class="thr_menu">
                    <li><a href="/hr/">员工</a></li>
                </ul>
                </li>
                <li><a href="#">部门</a>
                <ul class="thr_menu">
                    <li><a href="/dep/">部门</a></li>
                </ul>
                </li>
            </ul>
        </div>
        <div class="sub_menu_foot"></div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h3>{{ title }}</h3>
            </div>
            <div class="col-sm-6 sr-only">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></button>
                    </span>
                </div><!-- /input-group -->
            </div>
        </div>
        <div class="row sr-only">
            <div class="col-sm-6">
                <!--工具条-->
                <div>
                    <button type="button" class="btn btn-primary" data-toggle="create">创建</button>
                    <button type="button" class="btn btn-default disabled" data-toggle="del">删除</button>
                </div>
            </div>
            <div class="col-sm-4">
                <!--导入导出条-->
                <div class="btn-group">
                    <div class="btn-group dropdown">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            动作
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">导入</a></li>
                            <li><a href="#">导出</a></li>
                        </ul>
                    </div>
                    <div class="btn-group dropdown">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            筛选
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#filter=unactive">归档</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">规格</a></li>
                            <li><a href="#">用户</a></li>
                            <li><a href="#">部门</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">自定义</a></li>
                        </ul>
                    </div>
                    <div class="btn-group dropdown">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            分组
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">名称</a></li>
                            <li><a href="#">规格</a></li>
                            <li><a href="#">部门</a></li>
                            <li><a href="#">状态</a></li>
                        </ul>
                    </div>
                </div>

        </div>
            <div class="col-sm-2">
                <!--导航条-->
                <div class="btn-group pull-right">
                    <span class="btn-group">
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                    </span>
                    <span class="btn-group">
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <context  class="container">
        <div class="container-fluid cmd_nav">
            <div class="row">
                <div class="col-sm-6">
                    <button type="button" data-loading-text="Loading..." class="btn btn-primary" data-toggle="gethr" autocomplete="off">
                        <span><i class="fa fa-cloud-download fa-1x"></i></span>
                        获取员工
                    </button>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                {% for item in context %}
                    <div class="col-auto" style="margin-top: 15px;">
                        <div class="card border-secondary" style="width: 11rem;">
                            <div class="card-header">
                            <img class="rounded" src="{{ item.avatar| default:'/static/img/ftp-icon.jpg' }}" alt="Card image cap" style="width:32px;">
                                {{ item.name }}
                            </div>
                            <div class="card-body">
                                <p class="card-text"><span><i class="fa fa-credit-card fa-1x"></i></span>: {{ item.position }}</p>
                                <p class="card-text"><span><i class="fa fa-mobile fa-1x"></i></span>: {{ item.mobile }}</p>
                                <p class="card-text"><span><i class="fa fa-phone fa-1x"></i></span>: {{ item.telephone }}</p>
                                <button class="btn btn-info btn-sm" type="button">详情</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </context>

    <div class="footbar">

    </div>
{% endblock %}

{% block jquery %}
    <script src="/static/js/view_hr_broad.js"></script>
{% endblock jquery%}