{% extends "base.html" %}

{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/view_hr_list.css">
{% endblock styecss %}

{% block mainbody %}
    <div class="view_menu">
        <div class="limg"></div>
        <div>
            <ul class="sub_menu">
                <li><a href="/hr/">员工</a></li>
                <li><a href="/dep/">部门</a></li>
                <li><a href="#">设置</a></li>
            </ul>
        </div>
        <div class="sub_menu_foot"></div>
    </div>

    <div class="view_form">
        <div class="header">
            <div class="pl_head pl_title">
                <h1>{{ title }}</h1>
            </div>
            <div class="pl_head pl_status"></div>
            <div class="pl_head pl_cmd"></div>
            <div class="pl_head pl_search"></div>
        </div>
        <div class="cmd_nav">
            <ul class="but_cmd">
                <li>
                    <a href="/gethr">获取员工</a>
                </li>
            </ul>
            <div class="flowlist"></div>
        </div>
        <context>
            {% for item in context %}
                <div class="bordform">
{#                    <img src="{{ item.avatar }}" alt=""/>#}
                    <span>
{#                        <p>{{ item.userid }}</p>#}
                        <p><b>{{ item.name }}</b></p>
                        <p><span><i class="fa fa-credit-card fa-1x"></i></span>: {{ item.position }}</p>
                        <p><span><i class="fa fa-mobile fa-1x"></i></span>: {{ item.mobile }}</p>
                        <p><span><i class="fa fa-phone fa-1x"></i></span>: {{ item.telephone }}</p>
                    </span>
                </div>
            {% endfor %}
        </context>
        <div class="footbar">

        </div>
    </div>
{% endblock %}
