{% extends "base.html" %}

{% block styecss %}
    <link rel="stylesheet" type="text/css" href="/static/css/view_hr_list.css">
{% endblock styecss %}

{% block mainbody %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 border-right">
                {% include 'hr_sub_sidemenu.html' %}
            </div>
            <div class="col-10">
                <div class="container-fluid">
                    <div class="row mt-2">
                        <h3 class="col-sm-6">{{ title }}</h3>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-6 mb-3">
                            <a class="btn btn-outline-info" href="/sync">获取部门</a>
                        </div>
                    </div>
                </div>
                <article class="row">
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>名称</th>
                                <th>上级</th>
                            </tr>
                        </thead>
                        <tbody>
        {#                    {{ context | safe }}#}
                            {% for item in context %}
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.parentid }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </article>
            </div>
        </div>
    </div>
{% endblock %}
